<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>LUMINA - EVENTOS</title>
</head>
<body>
    <main>
        <img src="/static/img/Lumina.png" alt="Logo" class="logo">
        <p class="descricao">
          Bem-vindo à área de controle de eventos da <strong>LUMINA</strong>. Faça login ou cadastre-se para gerenciar os eventos da empresa.
        </p>
        <div class="buttons">
          <button class="btn" id="entrar"> <a href="/entrar">Entrar</a></button>
          <button class="btn" id="cadastrar"> <a href="/cadastro">Cadastrar</a></button>
        </div>
      </main>
</body>
</html>