<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <script defer src="/static/js/login.js"></script>
    <title>LUMINA - EVENTOS</title>
</head>
<body>
    <main>
        <img src="/static/img/Lumina.png" alt="Logo" class="logo">
        <p class="descricao">
          Bem-vindo à área de controle de eventos da <strong>LUMINA</strong>. Por favor, faça login para continuar.
        </p>
        <form action="/login" method="POST" class="form-login">
            <input type="text" name="cpf" placeholder="Digite seu CPF" required pattern="\d{11}" class="input-field">
            <div class="password-container">
                <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required class="input-field">
                <span class="eye-icon" onclick="togglePassword()">
                    <img src="/static/img/olho.png" alt="Mostrar Senha" id="toggle-password">
                </span>
            </div>
            <button type="submit" class="btn" id="entrar">Entrar</button>
        </form>
        <p class="link-cadastro">
          Não tem uma conta? <a href="/cadastrar" id="cadastro">Cadastre-se</a>
        </p>
    </main>
</body>
</html>
